<body>
    <div class="container">
        <div class="jumbotron">
            <img src="img/logo.png" alt="logo" width="60" height="60" class="d-block mx-auto">
            <h1 class="text-center">Moraes Contabilidade</h1>
            <hr>
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top container justify-content-center">
                <a class="navbar-brand" href="/">Moraes Contabilidade</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sobre">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contato">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/servicos">Nossos Contadores</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <br>
            
            <h3 class="table-dark text-center">A Sua Parceria Confidencial em Contabilidade por Mais de uma Década</h3>
            <br>
            
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Quem Somos</h5>
                    Há mais de 10 anos, a Moraes Contabilidade tem sido uma força sólida e confiável no mundo da contabilidade em São Paulo. Como uma empresa dedicada ao sucesso financeiro dos nossos clientes, estamos orgulhosos de contar com uma equipe de especialistas apaixonados e comprometidos em fornecer serviços de contabilidade excepcionais.
                </div>
                <img class="ml-3" src="img/Contabilidade.png" alt="contabilidade" width="500" height="200">
            </div>
            
            <hr>
            <br>
            
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">A Nossa História</h5>
                    Desde o nosso início, Moraes Contabilidade tem sido movida pela missão de oferecer soluções financeiras sólidas e estratégicas. Ao longo dos anos, acumulamos um vasto conhecimento e experiência que nos permite abordar os desafios financeiros mais complexos com confiança e competência. Desde pequenas empresas familiares até grandes corporações, atendemos a uma variedade de clientes com um compromisso inabalável com a excelência.
                </div>
                <img class="ml-3" src="img/contabilidade2.jpg" alt="contabilidade" width="500" height="200">
            </div>
            
            <hr>
            <br>
            
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">A Nossa Missão</h5>
                    Na Moraes Contabilidade, nossa missão é clara: capacitamos nossos clientes a alcançar sucesso financeiro sustentável. Acreditamos que cada empresa merece um parceiro confiável que compreenda suas necessidades exclusivas e esteja comprometido em fornecer soluções sob medida. Trabalhamos lado a lado com nossos clientes para ajudá-los a tomar decisões financeiras informadas, reduzir riscos e otimizar seus resultados.
                </div>
                <img class="ml-3" src="img/contabilidade3.jpg" alt="contabilidade" width="500" height="200">
            </div>
            
            <hr>
            <br>
            
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">A Nossa Abordagem</h5>
                    O sucesso não é apenas sobre números; é sobre pessoas. É por isso que adotamos uma abordagem centrada no cliente em tudo o que fazemos. Na Moraes Contabilidade, não somos apenas contadores; somos parceiros de negócios. Nossa equipe trabalha diligentemente para entender as metas e desafios exclusivos de cada cliente e desenvolve estratégias financeiras personalizadas que os ajudam a atingir seus objetivos.
                </div>
                <img class="ml-3" src="img/contabilidade4.jpg" alt="contabilidade" width="500" height="200">
            </div>
            
            <hr>
            <br>
            
            <p>
                Na Moraes Contabilidade, estamos ansiosos para continuar a nossa jornada de sucesso junto com você. Seja você um empresário iniciante ou uma empresa estabelecida, estamos prontos para ser a sua parceria confidencial em contabilidade. Junte-se a nós e experimente a diferença que uma década de excelência pode fazer para o seu sucesso financeiro.
            </p>
            
            <br>
            <a class="btn btn-primary" href="/" role="button">Voltar</a>
            
            <!-- JavaScript (Opcional) -->
            <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </div>
    </div>
    <p class="table-dark text-center text-justify">Av. Nações Unidas, 10.088 - Pinheiros - São Paulo - SP. Telefone: (11) 3000-3000 - Email: moraes.contabilidade@email.com.</p>
</body>
</html>
