.video-container {
    margin-left: 20px; /* Ajuste o valor conforme necessário */
}

/* Adicionalmente, se você quiser garantir que o vídeo não se sobreponha ao texto */
.video-container video {
    width: 100%; /* Certifique-se de que o vídeo ocupa 100% do contêiner */
    height: auto;
}
